## Oefening 1

In [28]:
my_list = ["Appel", "Banaan", "Kers", "Appel", "Peer"]

def find_first_occurrence(list, element):
    for index, value in enumerate(my_list):
        if value == element:
            return index
    return -1

print(find_first_occurrence(my_list, "Appel"))

0

## Oefening 2

In [29]:
list1 = [10, 20, 30, 40]
list2 = [5, 15, 25, 35]

merged = []
for item1, item2 in zip(list1, list2):
    average = (item1 + item2) / 2
    merged.append(average)
print(merged)  # [7.5, 17.5, 27.5, 37.5]

[7.5, 17.5, 27.5, 37.5]

## Oefening 3

In [30]:
weekdays_english = ["Sun", "Mon", "Tue", "Wed", "Thu","Fri", "Sat"]

weekdays_dutch = ["zon", "ma", "di", "woe", "don", "vrij","zat"]

for eng, dutch in zip(weekdays_english, weekdays_dutch):
    print(f"('{eng}', '{dutch}')")
print()
for eng, dutch in zip(weekdays_english, weekdays_dutch):
    print(f"In english {eng} = {dutch} in dutch")
print()
for i,(eng, dutch) in enumerate(zip(weekdays_english, weekdays_dutch),start=1):
    print(f"{i} {eng} = {dutch} in dutch")
print()

('Sun', 'zon')
('Mon', 'ma')
('Tue', 'di')
('Wed', 'woe')
('Thu', 'don')
('Fri', 'vrij')
('Sat', 'zat')

In english Sun = zon in dutch
In english Mon = ma in dutch
In english Tue = di in dutch
In english Wed = woe in dutch
In english Thu = don in dutch
In english Fri = vrij in dutch
In english Sat = zat in dutch

1 Sun = zon in dutch
2 Mon = ma in dutch
3 Tue = di in dutch
4 Wed = woe in dutch
5 Thu = don in dutch
6 Fri = vrij in dutch
7 Sat = zat in dutch

## Oefening 4

In [31]:
def convert_fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5 // 9
    return celsius
def convert_celsius_to_fahrenheit(celsius):
    fahrenheit = celsius * 9 // 5 + 32
    return fahrenheit
    
ctemps = [0, 12, 34, 100]

ftemps = [32, 65, 100, 212]
celsius=list(map(convert_fahrenheit_to_celsius,ftemps))
fahrenheit=list(map(convert_celsius_to_fahrenheit,ctemps))
print(f'Celcius: {celsius}\tFahrenheit:{fahrenheit}')

Celcius: [0, 18, 37, 100]	Fahrenheit:[32, 53, 93, 212]

## Oefening 5

In [32]:
numbers = [2, 3, 4, 5]
powers = [2, 3, 4, 5]

def calculate_powers(numbers, powers):
	return list(map(pow, numbers, powers))

powered_numbers = calculate_powers(numbers, powers)

print("Getal\tMacht\tResultaat")
print("-------------------------")
for number, power, result in zip(numbers, powers, powered_numbers):
	print(f"{number}\t{power}\t{result}")

Getal	Macht	Resultaat
-------------------------
2	2	4
3	3	27
4	4	256
5	5	3125

## Oefening 6

In [33]:
def is_divisible_by_three(string):
    return len(string) % 3 == 0

strings = ["apple", "banana", "orange", "pear", "kiwi", "strawberry"]
filtered_strings = list(filter(is_divisible_by_three, strings))

print("Strings met een lengte deelbaar door 3 zijn:", filtered_strings)

Strings met een lengte deelbaar door 3 zijn: ['banana', 'orange']

## Oefening 7

In [34]:
input_list = [1, 2, 3, 4]

def product_except_self(input_list):
	product = 1
	for num in input_list:
		product *= num
		
	return [product // num for num in input_list]

print(product_except_self(input_list))

[24, 12, 8, 6]

## Oefening 8

In [35]:
vakken = ["Wiskunde", "Natuurkunde", "Geschiedenis"]
scores_student1 = [75, 55, 80]
scores_student2 = [60, 70, 90]
scores_student3 = [45, 65, 70]

# Gebruik list comprehensions en zip om het overzicht te genereren
overzicht = [(vak, scores) for vak, scores in zip(vakken, zip(scores_student1, scores_student2, scores_student3)) if all(score >= 60 for score in scores)]

# Print het overzicht
print("Vakken met scores allemaal boven de 60:")
for vak, scores in overzicht:
    print(f"{vak}: {scores}")

Vakken met scores allemaal boven de 60:
Geschiedenis: (80, 90, 70)

## Oefening 9

In [36]:
# Definieer een lijst van getallen
getallen = [5, 2, 8, 1, 3]

# Sorteer de lijst in oplopende volgorde met behulp van een lambda-functie
oplopend_gesorteerd = sorted(getallen, key=lambda x: x)

# Sorteer de lijst in aflopende volgorde met behulp van een lambda-functie
aflopend_gesorteerd = sorted(getallen, key=lambda x: -x)

# Print de gesorteerde lijsten
print("Oplopend gesorteerd:", oplopend_gesorteerd)
print("Aflopend gesorteerd:", aflopend_gesorteerd)

Oplopend gesorteerd: [1, 2, 3, 5, 8]
Aflopend gesorteerd: [8, 5, 3, 2, 1]

## Oefening 10

In [37]:
words = ["appel", "banaan", "kiwi", "peer", "perzik"]

character = "a"
words_with_character = list(filter(lambda x: character in x, words))
print(f"Woorden met het teken '{character}': {words_with_character}")

Woorden met het teken 'a': ['appel', 'banaan']

## Oefening 11

In [38]:
numbers = [-1, 2, -3, 4, -5, 6, -7, 8, -9, 10]
positive_doubled = [x * 2 for x in numbers if x > 0]
squared = [(lambda x: x**2)(x) for x in positive_doubled]

# Print de oorspronkelijke lijst, de gefilterde en verdubbelde lijst, en de lijst met kwadraten
print("Oorspronkelijke getallen:", numbers)
print("Positieve en verdubbelde getallen:", positive_doubled)
print("Kwadraten van de positieve en verdubbelde getallen:", squared)

Oorspronkelijke getallen: [-1, 2, -3, 4, -5, 6, -7, 8, -9, 10]
Positieve en verdubbelde getallen: [4, 8, 12, 16, 20]
Kwadraten van de positieve en verdubbelde getallen: [16, 64, 144, 256, 400]

## Oefening 12

In [39]:
temperaturen = [18, 22, 16, 25, 19, 23, 21, 20, 24]

In [40]:
# Gebruik filter om de temperaturen boven de 20 graden Celsius te filteren
warmere_temperaturen = list(filter(lambda x: x > 20, temperaturen))

print("Temperaturen boven de 20 graden Celsius (met filter):", warmere_temperaturen)

Temperaturen boven de 20 graden Celsius (met filter): [22, 25, 23, 21, 24]

In [41]:
# Gebruik list comprehension voor dezelfde taak
warmere_temperaturen_lc = [temp for temp in temperaturen if temp > 20]

print("Temperaturen boven de 20 graden Celsius (met list comprehension):", warmere_temperaturen_lc)

Temperaturen boven de 20 graden Celsius (met list comprehension): [22, 25, 23, 21, 24]